---
import Welcome from '../components/Welcome.astro';
import Slider from '../components/Slider.astro';
import Mision from '../components/Mision.astro';
import Vision from '../components/Vision.astro';
import Layout from '../layouts/Layout.astro';
// import Header from '../components/Header.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Header /> -->
	<section class="px-12 mx-auto bg">
		<Welcome />
	</section>
	<section class="mx-auto ">
		<Slider />
	</section>
	<section class="px-12 mx-auto bg-gray-200">
		<Mision />
	</section>
	<section class="px-12 mx-auto bg-gray-200">
		<Vision />
	</section>
</Layout>

<style>
        .bg {
		  background-image: url("../assets/bg-welcome.jpg");
		  background-size: cover;
		  background-position: center;
        }
</style>