<main class="py-4">
    <div class="container mx-auto flex flex-col md:flex-row items-center">
      <!-- Sección de texto -->
      <div class="md:w-1/2 px-12">
        <h2 class="text-4xl font-bold mb-2 text-gray-800">Misión</h2>
        <div class="w-40 h-1 bg-yellow-600 mb-12 rounded"></div>

        <p class="text-gray-700 text-xl">
            <span class="font-semibold">Proporcionar soluciones</span> logísticas e industriales integrales, diseñadas para <span class="font-semibold">optimizar la eficiencia</span> operativa de nuestros clientes, mientras garantizamos un entorno <span class="font-semibold">sostenible, seguro y confortable</span>. Nuestro compromiso es ofrecer espacios con beneficios térmicos y acústicos que <span class="font-semibold">impulsen el desarrollo empresarial</span> y mejoren la calidad de las operaciones industriales.
          </p>
      </div>
      <!-- Sección de imagen -->
      <div class="md:w-1/2 p-8">
        <img 
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=328,h=264,fit=crop/YrDN92nXaxCke38q/1-mjE98ZQl6gfP8Jon.jpg" 
          alt="Centro Logístico e Industrial" 
          class="w-full h-full object-cover rounded-lg shadow-md"
        />
      </div>
    </div>
  </main>
  