<main class="py-4">
    <div class="container mx-auto flex flex-col md:flex-row items-center">
      <!-- Sección de texto -->
      <div class="md:w-1/2 px-12">
        <img 
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=328,h=264,fit=crop/YrDN92nXaxCke38q/1-mjE98ZQl6gfP8Jon.jpg" 
          alt="Centro Logístico e Industrial" 
          class="w-full h-full object-cover rounded-lg shadow-md"
        />
      </div>
      <!-- Sección de imagen -->
      <div class="md:w-1/2 p-8">

        <h2 class="text-4xl font-bold mb-2 text-gray-800">Visión</h2>
        <div class="w-40 h-1 bg-yellow-600 mb-12 rounded"></div>

        <p class="text-gray-700 text-xl">
            Ser el centro logístico e industrial <span class="font-semibold"> líder en innovación y sostenibilidad</span> reconocido por ofrecer infraestructura de <span class="font-semibold">clase mundial</span> que fomente el crecimiento empresarial, promueva prácticas responsables con el medio ambiente y se adapte a las necesidades cambiantes del mercado global.
          </p>
      </div>
    </div>
  </main>
  